<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>I'm in the AppComponent</h3>
      <div class="hello">Hello there</div>
      <hr />
      <!-- <app-servers></app-servers> -->
      <!-- <div app-servers></div> -->
      <div class="app-servers"></div>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <app-username></app-username>
    </div>
    <div class="col-xs-6">
      <app-assignment-directives></app-assignment-directives>
    </div>
  </div>
</div>